<?php

return [
	'mailer-default' => 'gmail',

	'mailer-from' => 'testons@gmail.com',

	'mailer' => [
		'gmail' => [
			'CLIENT_ID' => '',
			'CLIENT_SECRET' => '',
			'REFRESH_TOKEN' => '',
		]
	],
	// 'password_infix' => 'yy',
	// 'base-password' => 'xxxxxx',
	// 'cache-password' => 'xxxx'
];